<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 py-2 sticky-top custom-navbar">
  <a class="navbar-brand d-flex align-items-center" href="#home" (click)="closeMenu()">
    <img src="assets/logo1.png" alt="Jai Fresh Logo" class="me-3 logo-img animate-logo" />
    <span class="fw-bold fs-4 brand-text">Jai Fresh Exports</span>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navMenu">
  <ul class="navbar-nav ms-auto align-items-lg-center">
    <li class="nav-item">
      <a class="nav-link nav-underline" routerLink="/" (click)="closeMenu()">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-underline" routerLink="/about" (click)="closeMenu()">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-underline" routerLink="/products" (click)="closeMenu()">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-underline" routerLink="/gallery" (click)="closeMenu()">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-underline" routerLink="/contact" (click)="closeMenu()">Contact</a>
    </li>
  </ul>

  <!-- Quick Enquiry Button -->
  <button
    type="button"
    class="btn btn-outline-light fw-bold ms-lg-3 mt-2 mt-lg-0"
    data-bs-toggle="modal"
    data-bs-target="#enquiry"
    data-bs-whatever="@mdo"
    id="submit"
  >
    Quick Enquiry
  </button>
</div>

</nav>
