<!-- ABOUT HERO BANNER -->
<section class="hero-banner about-hero position-relative d-flex align-items-center justify-content-center">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Text -->
  <div class="container text-center text-white position-relative z-1">
    <h1 class="fw-bold mb-3 animate__animated animate__fadeInDown">Gallery</h1>
    <p class="about-text animate__animated animate__fadeInUp animate__delay-1s">
  Discover our curated gallery of eco-friendly Areca leaf tableware, blending natural beauty with sustainable living.
</p>

  </div>
</section>

<!-- BLOG FEED -->
<section id="or-blog-feed" class="or-blog-feed-section">
  <div class="container">
    <div class="or-blog-feed-content">
      <div class="row">
       <!-- card -->
         <div class="col-lg-4 col-md-6 tooltiptxt">
             <div class="or-blog-innerbox">
                 <div class="or-blog-img box--6">
                     <img width="400" height="300" src="assets/Gallery/gallery1.jpg" alt="eco friendly products" loading="lazy">
                      <div class="tooltip" role="tooltip">Eco Friendly Products</div>
                     </div> 
                    </div>
                 </div>

        <div class="col-lg-4 col-md-6 tooltiptxt">
          <div class="or-blog-innerbox">
            <div class="or-blog-img box--6">
              <img width="400" height="300"
                   src="assets/Gallery/gallery2.jpg"
                   alt="disposable leaf plates manufacturer" loading="lazy">
              <div class="tooltip" role="tooltip">Disposable Plates</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 tooltiptxt">
          <div class="or-blog-innerbox">
            <div class="or-blog-img box--6">
              <img width="400" height="300"
                   src="assets/Gallery/gallery3.jpg"
                   alt="Disposable Plates and Bowls" loading="lazy">
              <div class="tooltip" role="tooltip">Areca Rounds</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 tooltiptxt">
          <div class="or-blog-innerbox">
            <div class="or-blog-img box--6">
              <img width="400" height="300"
                   src="assets/Gallery/gallery4.jpg"
                   alt="areca round plate" loading="lazy">
              <div class="tooltip" role="tooltip">Areca Plate</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 tooltiptxt">
          <div class="or-blog-innerbox">
            <div class="or-blog-img box--6">
              <img width="400" height="300"
                   src="assets/Gallery/gallery5.jpg"
                   alt="square areca leaf plates" loading="lazy">
              <div class="tooltip" role="tooltip">Biodegradable Plate</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 tooltiptxt">
          <div class="or-blog-innerbox">
            <div class="or-blog-img box--6">
              <img width="400" height="300"
                   src="assets/Gallery/gallery6.jpg"
                   alt="Eco Friendly Plates Wholesale" loading="lazy">
              <div class="tooltip" role="tooltip">Eco Friendly Plates</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 tooltiptxt">
          <div class="or-blog-innerbox">
            <div class="or-blog-img box--6">
              <img width="400" height="300"
                   src="assets/Gallery/gallery7.jpg"
                   alt="Square Areca Leaf Plates" loading="lazy">
              <div class="tooltip" role="tooltip">Round Areca Bowls</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 tooltiptxt">
          <div class="or-blog-innerbox">
            <div class="or-blog-img box--6">
              <img width="400" height="300"
                   src="assets/Gallery/gallery8.jpg"
                   alt="Round Areca Leaf bowls" loading="lazy">
              <div class="tooltip" role="tooltip">Square Areca Plate</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 tooltiptxt">
          <div class="or-blog-innerbox">
            <div class="or-blog-img box--6">
              <img width="400" height="300"
                   src="assets/Gallery/gallery9.jpg"
                   alt="Round Areca Leaf bowls" loading="lazy">
              <div class="tooltip" role="tooltip">Rectangle Plate</div>
            </div>
          </div>
        </div>
        <!-- /card -->
      </div>
    </div>
  </div>
</section>
